body {
  background-color: gray;
}

h1 {
  text-align: center;
}
#content {
    margin: 40px auto;
    padding: 30px;
    width: 500px;
    background-color: #fff5ee;
}

.displaytoggle {
  display: none;
}

.pure-button {
  margin: 10px;
}
